:root {
    --purple: blueviolet;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}


header, footer {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--purple);
}

/* this is the class for the background images*/
.background-image {
    display: flex;
    height: 40vh;
    margin-bottom: 25px;
    background-image: url("./images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
}

body {
    background-color: #4b4b4b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

h1, footer h2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}
section {
    display: flex;
    flex-direction: column;
}
/*proper spacing for nav and footer*/
nav ul, footer ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 10px;
}

section h2 {
    text-align: left;
    margin: 20px;
}

section p {
    display: flex;
    flex: auto;
    justify-content: center;
    margin: auto;
}

h2 section {
    display: flex;
}

.profile-pic {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 1%;
    margin: auto;
}

.main-image {
    display: flex;
    flex: auto;
    width: 800px;
    height: 800px;
    align-items: center;
    border: var(--purple) solid;
}

.small-image {
    display: flex;
    flex: auto;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    border: var(--purple) solid;
}
/*learned hover for images need opacity, not color*/
.small-image:hover {
    opacity: 0.2;
}

.main-image:hover {
    opacity: 0.2;
}

.section-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-width {
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.section-column {
    flex-direction: column;
    align-items: center;
}
/*text boxes for words along with image*/
.background-image-text {
    width: fit-content;
    align-content: right;
    justify-content: flex-end;
    background-color: var(--purple);
}

.body-image-text {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--purple);
}
/*sizes changes for when different screens look at the website*/
@media screen and (max-width: 768px) {
    .small-image {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .main-image {
        flex: 0 1 50%;
        max-width: 50%;
      }  
  
}

@media screen and (max-width: 992px) {

    .small-image {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }

    .main-image {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
  }