:root {

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}


header, footer {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: blueviolet;
}

.background-image {
    display: flex;
    height: 40vh;
    margin-bottom: 25px;
    background-image: url("./images/pexels-luis-gomes-546819.jpg");
    background-size: cover;
}

body {
    background-color: #4b4b4b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

h1, footer h2 {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}
section {
    display: flex;
    flex-direction: column;
}

nav ul, footer ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin: 10px;
}

section h2 {
    text-align: left;
    margin: 20px;
}

section p {
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

h2 section {
    display: flex;
}

.main-image {
    display: flex;
    flex: auto;
    width: 800px;
    height: 800px;
    align-items: center;
    border: blueviolet solid;
}

.small-image {
    display: flex;
    flex: auto;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    border: blueviolet solid;
}

.small-image:hover {
    background-color: aliceblue;
    color: aliceblue;
}

.section-row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-width {
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.section-column {
    flex-direction: column;
    align-items: center;
}

.background-image-text {
    width: fit-content;
    align-content: right;
    justify-content: flex-end;
    background-color: blueviolet;
}

.body-image-text {
    align-items: flex-end;
    justify-content: flex-end;
    background-color: blueviolet;
}